.post-drop:target{
   position: fixed;
   top: 20px;
   width: 90%;
   left: 5%;
   z-index: 1000;
}
.post-drop:target .infoPost{
    display: block;
    width: 100%;
}

.postVideo{

}

.postVideo video {
    width: 100%;
    height: 56.25%;
}

.closeButtom{
    position: absolute; 
    font-size: 30px;
    padding-left: 8px;
}

.infoPost{
    display: none;
}

.interation{
    width: 100%;
}

.interation button{
    border: none;
    background-color: transparent;
}

.interation li {
    margin: 0 1em;
}

.interation i {
    color: #0d6efd;
}

.interation i:hover {
    color: #0b5ed7;
}

.interation-coments{
    display: flex;
    justify-content: center;
}

.coment{
    display: flex;
    align-items: center;
    font-size: 13px;
}

.coment img{
    width: 45px;
    border-radius: 50%;
}

.coment-respost{
    margin-left: 15%;
    padding-left: 10px;
    border-left: 1px solid rgb(221, 221, 221);
}


.ideias{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.ideiasUsser{
    margin-right: 15px;
}
.ideiasUsser img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.ideias__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 900px){
    .post-drop{
        width: 50%;
    }   

    .post-drop:target{
        position: fixed;
        top: 20px;
        width: 40%;
        left: 30%;
     }

     .interation{
        width: 50%;
    }

    .interation i{
        font-size: 30px;
    }

    .interation-p i{
        font-size: 20px;
    }

    .postVideo video {
        width: 640px;
        height: 360px;
    }

    .postText{
        width: 50%;
    }

    .bio{
        width: 55%;
    }

    .ideiasUsser img{
        width: 80px;
        border-radius: 50%;
    }

}